@import url(../main_style.css);
/* tablet - 770px
    mob - 500px */

@media(max-width: 770px){
    :root{
        --heading_font_size: 48px;
    }

}

@media(max-width: 570px){
    main{
        margin: 32px;
    }
    .cards_container{
        flex-wrap: wrap;
        justify-content: center;
    }
.quantity_container{
    flex-direction: column;
    gap: 8px;
    height: 100px;
}
.inp_field{
    border-radius: 8px;
    text-align: center;
}

}