@import url(../main_style.css);

:root {
  --header-height: 80px;

  --main_font_size: 16px;
  --heading_font_size: 54px;
  --subheading_font_size: 32px;
  --cards-font-size: 14px;
  --subdiscription_font_size: 10px;
}
* {
  margin: 0;
  box-sizing: content-box;
  font-size: var(--main_font_size);
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header /* a placeholder for the main desing*/ {
  height: var(--header-height);
  background-color: var(--grey-bg);
  width: 100%;
}
main {
  margin: 0px 72px;
  max-width: 1260px;
  flex: 1;
}
footer {
  height: var(--header-height);
  background: var(--main-footer-bg);
}
.container {
  width: 100%;
  padding-top: 64px;
}
.section {
  margin: 20px 0;
}
time abbr {
  text-decoration: none;
}
.abbr{
  text-decoration: underline;
}
h1{
  font-size: var(--heading_font_size);
}
h2{
  font-size: var(--subheading_font_size);
  padding: 24px 0;
}
.aot_img {
  width: 100%;
  height: 250px;
  border-radius: 16px;
  background-image: url(../assets/img/tiramisu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* cards infos*/
.cards_container {
  display: flex;
  align-items: center;
  gap: 16px;

}
.info_card {
  display: flex;
  align-items: center;
  font-size: var(--cards-font-size);
  background-color: var(--grey-bg);
  border-radius: 8px;
  gap: 16px;
  padding: 4px 8px;
}
.info_cards_bottom {
  display: flex;
  align-items: center;
  font-size: var(--cards-font-size);
  background: var(--grey-bg);
  border-radius: 8px;
  gap: 24px;
  padding: 4px 8px;
  height: 40px;
}
.card_icon {
  width: 18px;
}
.card_discription {
  display: flex;
  align-items: center;
}
.info_card_discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--cards-font-size);
  padding-right: 8px;
}
.info_subdiscription {
  font-size: var(--subdiscription_font_size);
}

.quantity_container {
  font-size: var(--subheading_font_size);
  min-width: 200px;
  max-width: 440px;
  display: flex;
  align-items: center;
  height: 40px;
}
.inp_label {
  padding-right: 16px;
}

input {
  border: 1px solid var(--grey-bg);
  border-radius: 8px 0 0 8px;
  font-size: 20px;
  height: 38px;
  width: 144px;
  padding-left: 24px;
}
.btn{
  border: var(--green);
  padding: 0 40px;
  height: 40px;
}
/* ingredients */
.separetor {
  height: 1px;
  background-color: var(--grey-bg);
}
.recipe_table{
  width: 100%;
}
/* .recipe_body{

} */
.recipe_row{
background: white;
display: flex;
padding: 16px 32px;
border-radius: 8px;
}
.recipe_row:nth-child(odd){
background: var(--grey-bg);

}
.recipe_amount{
padding-right: 16px;
min-width: 64px;
}
.recipe_ingridient{
flex: 1;
}
/* discription */
.description{
  display:flex;
  flex-direction: column;
}
ol{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

}
/*creator Section*/
.creator_container{
  padding-bottom: 64px;
}
h3{
  font-size: 24px;
}
.creator{
  display: flex;
  display: flex;
  align-items: center;
  gap: 32px;

}
.creator_img {
  height: 104px;
  border-radius: 50%;
}
