@import url(./assets/font/font_raleway.css);
:root {
  --main-header-shadow: rgba(0, 0, 0, 0.2);

  --green: rgb(0, 128, 0);
  --grey-bg: rgb(239, 239, 239);
  --contact-grey-bg: rgb(220, 220, 220);
  --main-footer-bg: rgb(64, 59, 59);
  --contact-footer-bg: rgb(35, 35, 35);

  --main-text-color: black;
  --nav-text-color: rgb(64, 59, 59);
  --base_text: 
  --main-font: "Raleway", sans-serif;

  --main_font_size: 16px;
  --heading_font_size: 54px;
  --subheading_font_size: 32px;
  --cards-font-size: 14px;
  --subdiscription_font_size: 10px;
}

* {
  margin: 0;
  box-sizing: content-box;
  font-size: var(--main_font_size);
  font-family: var(--main-font);
}

button{
  background-color: var(--green);
  cursor: pointer;
  color: var(--btn-text-color);
  border: none;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}
.container {
  padding-top: 64px;
}
.section {
  padding: 20px 0;
}
header{
  height: var(--header-height);
  background-color: var(--grey-bg);
  width: 100%;
  display: flex;
  justify-content: center;
}
header nav{
  max-width: 1260px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header nav img{
  height: 64px;
  padding: 16px;
}
header nav ul{
  display: flex;
  align-items: center;
  padding: 0;
  gap: 24px
}
header nav ul li{
  list-style: none;

}
header nav ul li a{
  text-decoration: none;
  color: black;
}
.activ_link{
  color: var(--green);
  text-decoration: underline;
}

main {
  margin: 0px 72px;
  max-width: 1260px;
  height: 100vh;
  flex: 1;
}



h1{
  font-size: var(--heading_font_size);
}
h2{
  font-size: var(--subheading_font_size);
  padding: 24px 0;
}
.aot_container{
  display: flex;
  flex-direction: column;
}
.aot_img {
  height: 200px;

  border-radius: 16px;
  background-image: url(../assets/img/tiramisu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* cards infos*/
.cards_container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.info_card {
  display: flex;
  align-items: center;
  font-size: var(--cards-font-size);
  background-color: var(--grey-bg);
  border-radius: 8px;
  gap: 16px;
  padding: 4px 8px;
}
.card_icon {
  width: 18px;
}
.card_discription {
  display: flex;
  align-items: center;
}
.info_card_discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--cards-font-size);
  padding-right: 8px;
}
.quantity_container {
  font-size: var(--subheading_font_size);
  min-width: 200px;
  max-width: 440px;
  display: flex;
  align-items: center;
  height: 40px;
}
.inp_label {
  padding-right: 16px;
  width: 144px;
}
input {
  border: 1px solid var(--grey-bg);
  border-radius: 8px 0 0 8px;
  font-size: 20px;
  padding-left: 24px;
}
.btn{
  border: var(--green);
  padding: 0 40px;
  height: 40px;
}
.inp_field{
  height: 38px;
}
/* ingredients */
.ingredients_container{
  display: flex;
  flex-direction: column;
}
.separetor {
  height: 1px;
  background-color: var(--grey-bg);
}
.recipe_table{
  width: 100%;
}
.recipe_row{
background: white;
display: flex;
padding: 16px 32px;
border-radius: 8px;
}
.recipe_row:nth-child(odd){
background: var(--grey-bg);
}
.recipe_amount{
padding-right: 16px;
min-width: 64px;
}
.recipe_ingridient{
flex: 1;
}
/* discription */
.description{
  display:flex;
  flex-direction: column;
}
ol{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/*creator Section*/
.creator_container{
  padding-bottom: 64px;
}
h3{
  font-size: 24px;
}
.creator{
  display: flex;
  display: flex;
  align-items: center;
  gap: 32px;

}
.creator_img {
  height: 104px;
  border-radius: 50%;
}

footer {
  height: var(--header-height);
  background: var(--main-footer-bg);
  width: 100%;
}
form h3{
  padding-bottom: 24px;
}
.contact_main{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.form_container{
  background-color: var(--grey-bg);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
}
.contact_main form{
  display: flex;
  flex-direction: column;

}
.form_section{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 16px 0;
}
form textarea{
  border: none;
  border-radius: 8px;
}
form label{
  font-size: var(--main_font_size);
}
form section input {
  border-radius: var(--);
}



@media(max-width: 770px){
  :root{
      --heading_font_size: 48px;
  }
}
@media(max-width: 570px){
  main{
      margin: 32px;
  }
  .cards_container{
      flex-wrap: wrap;
      justify-content: center;
  }
.quantity_container{
  flex-direction: column;
  gap: 8px;
  height: 100px;
}
.inp_field{
  border-radius: 8px;
  text-align: center;
}
}