@import url(../main_style.css);
* {
  margin: 0;
  box-sizing: content-box;
}
header {
  height: 72px;
  background-color: var(--grey-bg);
} /* a placeholder for the main desing*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 32px;
}
.container{
  width: 100%;
  padding-top: 64px;
}

.aot_img {
  width: 100%;
  height: 250px;
  border-radius: 16px;
  background-image: url(../assets/img/tiramisu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dish_infos {
  display: flex;
  gap: 8px;
  padding: 16px 0;
}
.dish_info {
  display: flex;
  align-items: center;
  background-color: var(--grey-bg);
  padding: 4px 8px;
  border-radius: 8px;
}
.dish_info_icon {
  width: 16px;
}
.dish_info_item {
  padding-left: 12px;
}

.separetor{
  height: 1px;
  width: 100%;
  background-color: var(--grey-bg);
}
.quantity_container{

  padding: 16px 0;
}

table, th, td {
  border: 1px solid green;
}