@import url(./assets/font/font_raleway.css);
:root {
  --main-header-shadow: rgba(0, 0, 0, 0.2);

  --green: rgb(0, 128, 0);
  --light-grey-bg: rgb(245, 245, 245);
  --grey-bg: rgb(239, 239, 239);
  --contact-grey-bg: rgb(220, 220, 220);
  --main-footer-bg: rgb(64, 59, 59);
  --contact-footer-bg: rgb(35, 35, 35);

  --main-text-color: black;
  --nav-text-color: rgb(64, 59, 59);
  --base_text: 
  --main-font: "Raleway", sans-serif;

  --main_font_size: 16px;
  --heading_font_size: 54px;
  --subheading_font_size: 32px;
  --cards-font-size: 14px;
  --subdiscription_font_size: 10px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.container{
    padding-top: 64px;
}
.section {
  padding: 20px 0;
}

main {
  margin: 0px 72px;
  max-width: 1260px;
  height: 100vh;
  flex: 1;
}

.aot_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.aot_img {
  height: 220px;
  border-radius: 12px;
  background-image: url(../assets/img/lasagne.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cards_container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.info_card {
  display: flex;
  align-items: center;
  font-size: var(--cards-font-size);
  background-color: var(--light-grey-bg);
  border-radius: 8px;
  gap: 12px;
  padding: 6px 10px;
}
.card_icon {
  height: 24px;
  width: 24px;
}
.info_cards_bottom {
  display: flex;
  align-items: center;
  font-size: var(--cards-font-size);
  background: var(--grey-bg);
  border-radius: 8px;
  gap: 24px;
  padding: 4px 8px;
  height: 40px;}

.recipe_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  margin-bottom: 32px;
}
.recipe_row {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 8px;            
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
}

.recipe_row:nth-child(odd) {
  background-color:  var( --light-grey-bg);
}

.recipe_amount {
  min-width: 80px;                
}

.recipe_ingridient {
  flex: 1;                         
}


.recipe_row td {
  padding: 12px 16px;
}

.recipe_row:hover {
  background-color: #e0e0e0;
  transition: 0.2s;
}

.creator_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.creator_img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
