
.aot_img_adrian  {
  height: 200px;
  border-radius: var(--img_radius);
  background-image: url(../assets/img/lasagne.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
