body{
    margin: 0;
}

 /*
    Header and menuboard
*/

.header{
    background-color: white;
}

.menuboard {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 112px;
    padding-bottom: 8px;
}

.logo img{
    width: auto;
    height: 80px;
}

.menuTabs{
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.menuTabs a{
    text-decoration: none;
    color: black;
}

.menuTabs a:hover{
    color: rgb(0,128,1);
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.menuTabs ul{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    gap: 32px;
    font-size: 18px;
    margin: 0;
}

.seperator{
    background-color: rgb(239,239,239);
    width: 100%;
    height: 5px;
}

/*
    RECIPE
*/

.recipeHead{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
}

.recipeHead h2{
    color: black;
    font-size: 24px;
}

.karniyarikImg {
    width: 100wh;
    height: 30vh;
}

.karniyarikImg img{
    width: 100;
    height: 240px;
}

.iconText{
    width: 90vw;
    height: 3vh;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    padding-top: 5px;
}

.iconText p{
    display: flex;
    align-items: center;
    margin: 0;
    gap: 5px;
    background-color: rgb(240,240,240);
    border-radius: 5px;
}

.iconText img{
    width: 25px;
    height: 10px;
}

/*
    PORTION CONTAINER
*/

.anzahlZutaten {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 30px;
}

input {
    width: 100px;
    height: 20px;
}

.buttonPortion {
    width: 100px;
    height: 27px;
    background-color: rgb(2,129,0);
    color: white;
    border-color: rgb(2,129,0);
}

.tableRezept{
    width: 100wh;
    padding-left: 30px;
}

.tableRezept td{
    padding: 8px 12px;
}

.amount{
    width: 60px;
    text-align: right;
    font-weight: bold;
}

.tableGrey {
    background-color: rgb(240,240,240);

}

.tableWhite {
    background-color: rgb(255,255,255);
}

/*
    USER CONTAINER
*/
.userContainer {
    padding-left: 30px;
}

.zubereitung{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.zubereitung h2{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.zubereitung p{
    margin: 0;
}

.zubereitung span{
    margin: 0;
    padding-top: 20px;
}

.userProfil{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    padding-bottom: 70px;
}

.userProfil img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/*
    FOOTER
*/

.footerContainer{
    background-color: rgb(64,59,59);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100wh;
    height: 200px;
}

.footerLogo img{
    width: auto;
    height: 80px;
}

.x{
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }

@media(min-width: 670px) and (max-width: 800px) {
    .body{
        overflow-x: hidden;
    }

    /*
        Header and menuboard
    */

    .menuboard {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 112px;
        padding-bottom: 8px;
    }

    .logo img{
        width: auto;
        height: 80px;
    }

    .menuTabs{
        display: none;
    }

    .seperator{
        background-color: rgb(239,239,239);
        width: 100%;
        height: 5px;
    }

    /*
        RECIPE
    */

    .recipeHead{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 30px;
    }

    .recipeHead h2{
        color: black;
        font-size: 24px;
    }

    .karniyarikImg {
        width: 100vw;
        height: 30vh;
    }

    .karniyarikImg img{
        width: 80vw;
        height: 240px;
    }

    .x{
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }
}

@media(min-width: 320px) and (max-width: 669px){
    .body{
        overflow-x: hidden;
    }

    /*
        Header and menuboard
    */

    .menuboard {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 112px;
        padding-bottom: 8px;
    }

    .logo img{
        width: auto;
        height: 80px;
    }

    .menuTabs{
        display: none;
    }

    .seperator{
        background-color: rgb(239,239,239);
        width: 100%;
        height: 5px;
    }

    /*
        RECIPE
    */

    .recipeHead{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 30px;
    }

    .recipeHead h2{
        color: black;
        font-size: 24px;
        margin: 0;
    }

    .karniyarikImg {
        width: 80vw;
        height: 22vh;
    }

    .karniyarikImg img{
        width: 80vw;
        height: 180px;
    }

    .iconText{
        width: 90vw;
        height: 3vh;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        gap: 5px;
        padding-top: 5px;
    }

    .iconText p{
        display: flex;
        align-items: center;
        margin: 0;
        gap: 5px;
        background-color: rgb(240,240,240);
        border-radius: 5px;
    }

    .iconText img{
        width: 25px;
        height: 10px;
    }

    /*
        USER CONTAINER
    */

    .userContainer {
        padding: 30px;
    }

    .zubereitung{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .zubereitung h2{
        margin: 0;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .zubereitung p{
        margin: 0;
    }

    .zubereitung span{
        margin: 0;
        padding-top: 20px;
        text-align: center;
    }

    .userProfil{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        text-align: center;
        gap: 20px;
        padding-bottom: 70px;
    }

    .userProfil img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    /*
        FOOTER
    */

    .footerContainer{
        background-color: rgb(64,59,59);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100wh;
        height: 200px;
    }

    .footerLogo img{
        width: auto;
        height: 80px;
    }

    .x{
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }
}