@import url(../assets/font/font_raleway.css);
:root {
  --header-shadow: rgba(0, 0, 0, 0.2);

  --btn-green: rgb(0, 128, 0);
  --btn-hover: rgb(0, 87, 0);
  --grey-bg: rgb(239, 239, 239);
  --footer-bg: rgb(64, 59, 59);

  --maxWidth: 1440px;
  --img_radius: 1em;
}
/* ==========
Main Style
========== */
* {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  margin: 0 auto;
}
img {
  object-fit: cover;
  border-radius: var(--img_radius);
}
a {
  text-decoration: none;
  color: black;
}
abbr {
  text-decoration: none;
}
input {
  border: 1px solid var(--grey-bg);
  border-radius: 8px 0 0 8px;
  font-size: 20px;
  padding-left: 24px;
}
label {
  padding-right: 0.5em;
}

/* ==========
   Typography
   ========== */
h1 {
  font-size: 1.95rem;
  line-height: 1.55;
  letter-spacing: 0.02em;
  padding-top: 2em;
}
h2 {
  font-size: 1.56rem;
  line-height: 1.55;
  letter-spacing: 0.02em;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.025em;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.025em;
  font-weight: 100;
}
.display_lg {
  font-size: 2.44rem;
  line-height: 1.55;
  letter-spacing: 0.015em;
}
.body {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.body_small {
  font-size: 0.95rem;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-weight: 100;
}
/* usefull classes */
.btn_main {
  background: var(--btn-green);
  color: white;
  width: 14em;
  height: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.underline {
  text-decoration: underline;
  font-style: italic;
}
.container {
  padding: 2em 2em;
}
.d_none {
  display: none;
}
.btn-bottom {
  display: flex;
  align-items: flex-end;
  flex: 1;
}
/*==========
nav
==========*/
header {
  box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  max-width: var(--maxWidth);
  flex: 1;
  max-width: var(--maxWidth);
  padding: 0 2em;
}
.logo_short {
  display: none;
}
.logo_full {
  height: 4em;
  padding: 1em 2em;
}
.bar_container {
  display: none;
}
nav ul {
  display: flex;
  align-items: flex-end;
  padding: 1em 1em;
  gap: 2em;
}
nav ul li {
  list-style: none;
  transition: line-height 150ms ease-in-out;
}
nav ul li a {
  text-underline-offset: 0.4em;
}
nav ul li:hover {
  color: var(--btn-hover);
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.4em;
  line-height: 2;
}

.activ_link a {
  color: var(--btn-green);
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
}
@media (max-width: 1000px) {
  .resp_nav_closed {
    transform: translateY(-130%);
  }
  .resp_nav {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4.9em;
    right: 0;
    width: 100%;
    background: rgb(239, 239, 239);
    padding: 0;
    gap: 0;
    transition: all 125ms ease-in-out;
  }
  .resp_nav li {
    position: relative;
    height: 4.5em;
    width: 100%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.118);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resp_nav li:hover {
    background: rgba(139, 139, 139, 0.904);
  }
  .bar_container {
    display: inline-block;
    cursor: pointer;
    align-self: center;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .activ_link {
    order: -1;
  }
}
@media (max-width: 570px) {
  .logo_full {
    display: none;
  }
  .logo_short {
    display: block;
    height: 3em;
    padding: 1em 0;
  }
}

/*==========
Index
==========*/
/* recipe of the day */
main {
  flex: 1;
  max-width: 1440px;
}
.aot {
  display: flex;
  justify-content: center;
  padding: 6em 3em;
}
.aot img {
  min-width: 10em;
  width: 100%;
  aspect-ratio: 3/2;
}
.img_description {
  padding: 0 2em 2em 1em;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .aot {
    padding: 6em 2em;
  }
}
@media (max-width: 570px) {
  .aot {
    flex-direction: column;
  }
  .img_description {
    padding: 0;
  }
}
/*all recipes*/
.recipes {
  background: var(--grey-bg);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
  padding: 1em 1em 8em 1em;
}
.recipes_cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5em;
}
.recipe_card img {
  min-width: 9em;
  width: 100%;
  max-width: 15em;
  aspect-ratio: 1/1;
}
/* blog */
.blog {
  display: flex;
  text-align: center;
  padding: 8em 8em;
}
.blog aside {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}
.img_blog {
  aspect-ratio: 2/3;
  width: 14em;
}
@media (max-width: 1000px) {
  .blog {
    padding: 8em 2em;
  }
}
@media (max-width: 540px) {
  .blog {
    flex-direction: column;
    align-items: center;
  }
}

/*==========
recipe
==========*/
.top_container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 400px) {
  .top_container {
    align-items: center;
    padding: 0.1em;
  }
}
.aot_img {
  height: 200px;
  border-radius: var(--img_radius);
  background-image: url(../assets/img/tiramisu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
}
@media (max-width: 570px) {
  .aot_img {
    min-width: 10em;
  }
}
.cards_container {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 1em;
}
.card_icon {
  width: 1em;
}
.info_card {
  display: flex;
  align-items: center;
  background-color: var(--grey-bg);
  border-radius: var(--img_radius);
  gap: 0.5em;
  padding: 0.2em 0.5em;
}
.card_discription {
  display: flex;
  align-items: center;
}
@media (max-width: 570px) {
  .cards_container {
    gap: 0.5em;
    flex-direction: column;
  }
}
.separetor {
  height: 1px;
  background-color: var(--grey-bg);
  margin-bottom: 0.5em;
}
.ingredients_container {
  display: flex;
  flex-direction: column;
}

.quantity_container {
  font-size: var(--subheading_font_size);
  min-width: 200px;
  display: flex;
  align-items: center;
  height: 40px;
  padding-bottom: 1em;
}
@media (max-width: 570px) {
  .quantity_container {
    align-items: center;
    flex-direction: column;
    gap: 8px;
    height: 100px;
  }
  .quantity_container button {
    width: 7em;
  }
}
.inp_field {
  width: 8em;
}
table {
  width: 100%;
}
tr {
  background: white;
  display: flex;
  padding: 16px 32px;
  border-radius: 8px;
}
tr:nth-child(odd) {
  background: var(--grey-bg);
}
@media (max-width: 330px) {
  .recipe_amount, .recipe_ingridient{
    font-size: 0.9rem;
  }
  .recipe_amount{
    width: 2em;
  }
}
.recipe_amount {
  padding-right: 1em;
  width: 4em;
  max-width: 10em;
  text-align: start;
}
ol {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ol li p, .preperation_list li {
  text-align: justify;
}

.text_instruction{
  text-align: justify;
}

.creator section {
  display: flex;
  align-items: center;
  gap: 3em;
}
@media (max-width: 570px) {
  ol {
    padding: 0.5em;
  }
  .creator {
    text-align: center;
  }
  .creator section {
    flex-direction: column;
    gap: 0.1em;
  }
}
.img_creator {
  width: 9em;
  border-radius: 5em;
}
/*==========
contact
==========*/
.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
form {
  background-color: var(--grey-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: var(--img_radius);
  width: 400px;
  min-width: 200px;
}
form h3 {
  align-self: flex-start;
}
form section {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  width: 100%;
}
form input,
textarea {
  border: none;
  border-radius: var(--img_radius);
  padding-left: 0.5em;
}
textarea {
  padding-top: 0.5em;
}
form button {
  margin: 24px 0 8px 0;
}

/*==========
footer
==========*/
footer {
  background: var(--footer-bg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10em;
}
footer article {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
}
footer article section {
  display: flex;
  align-items: center;
  gap: 3em;
}
.footer_social_icon {
  width: 3em;
}
.footer_social_icon:hover{
  filter: brightness(130%);
}
@media (max-width: 570px) {
  .logo_footer {
    display: none;
  }
  footer article {
    justify-content: center;
  }
  footer article section {
    gap: 1em;
  }
  .inp_field {
    border-radius: 8px;
    text-align: center;
    width: 2em;
  }
}
/*==========
sendt mail
==========*/
.landing_main {
  display: flex;
  align-items: center;
}
.landing_container {
  /* background-image: url(./assets/img/offwhite-struc.jpg); */
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  border-radius: var(--img_radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}
.landing_container h2 {
  padding: 1em;
}
.landing_container h3 {
  padding-bottom: 1em;
}
.landing_container p {
  padding: 0.5em;
}


@media (max-width: 570px) {
  main {
    margin: 0.5em;
  }
  .container {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}