body{
    margin: 0;
}

/*
    Header and menuboard
*/

.header{
    background-color: white;
}

.menuboard {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 112px;
    padding-bottom: 8px;
}

.logo img{
    width: auto;
    height: 80px;
}

.menuTabs{
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.menuTabs a{
    text-decoration: none;
    color: black;
}

.menuTabs a:hover{
    color: rgb(0,128,1);
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.menuTabs ul{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    gap: 32px;
    font-size: 18px;
    margin: 0;
}

.seperator{
    background-color: rgb(239,239,239);
    width: 100%;
    height: 5px;
}

/*
    recipe of day
*/

.recipe {
    background-color: white;
    width: 100wh;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    gap: 25px;
}

.imgRecipe img{
    width: 240px;
    height: 180px;
    border-radius: 5%;
}

.recipeInfo h2{
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    margin: 0;
}

.recipeInfo p{
    padding-bottom: 40px;
    margin: 0;
}

.recipeButton {
    background-color: rgb(0,128,1);
    color: white;
    width: 180px;
    height: 30px;
    border: 0;
}


/*
    all recipe
*/

.allRecipeContainer{
    background-color: rgb(239,239,239);
    width: 100wh;
    height: 400px;
}

.allRecipeContainer h2{
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.imgRecipeContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.imgRecipeContainer2{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card img{
    width: 140px;
    height: 140px;
    border-radius: 5%;
}

.card h5{
    margin: 0;
}

/*
    TEAM
*/

.teamContainer{
    background-color: white;
    width: 100wh;
    height: 200px;
}

.teamContainer h2{
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 10px 0;
}

.teamsplit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
    gap: 20px;
}

.teamImg img{
    width: 140px;
    height: 140px;
    border-radius: 35%;
}

/*
    FOOTER
*/

.footerContainer{
    background-color: rgb(64,59,59);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100wh;
    height: 200px;
}

.footerLogo img{
    width: auto;
    height: 80px;
}