@import url(../main_style.css);

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#header_background {
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 6px 0 6px var(--main-header-shadow);
}

.header_content {
  display: flex;
  justify-content: space-between;
}

#standard_nav_menu {
  align-self: flex-end;
  padding-bottom: 8px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  color: var(--green);
  cursor: pointer;
  border-bottom: 2px solid var(--green);
}

.active_link {
  color: var(--green);
  border-bottom: 3px solid var(--green);
}

.width_container {
  margin: 0 auto;
  max-width: 1440px;
}

main {
  padding-top: 150px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.footer_content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 220px;
}

.footer_content img {
  width: 70px;
}

footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer a:hover {
  filter: brightness(70%);
}

#footer_background {
  margin-top: auto;
  height: 220px;
  background-color: var(--main-footer-bg);
}

#mobile_nav_menu {
  display: none;
}

#mobile_menu_button {
  display: none;
}

.mobile_menu_box_closed {
  transform: translateX(100%);
}

@media (max-width: 1440px) {
  .width_container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 850px) {
  .header_content {
    flex-direction: column;
  }

  header img {
    width: 300px;
    object-fit: contain;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  * {
    font-size: 14px;
  }

  .recipe_data {
    align-self: center;
  }

  #serving_form {
    align-self: center;
  }

  #creator {
    align-self: center;
  }

  .header_content {
    justify-content: center;
    align-items: center;
  }

  #standard_nav_menu {
    align-self: unset;
  }
}

@media (max-width: 450px) {
  main {
    padding-top: 90px;
  }

  .header_content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #standard_nav_menu {
    display: none;
  }

  #mobile_nav_menu {
    display: inherit;
    top: 12px;
    gap: 12px;
  }

  #mobile_nav_menu button {
    padding: 6px 12px;
    border-radius: 8px;
  }

  #mobile_menu_button {
    display: unset;
    align-self: center;
    border: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 8px 16px;
    background-color: white;
    color: #000;
  }

  .mobile_menu_box {
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px;

    position: absolute;
    top: 0;
    right: 0;
    transition: all 250ms ease-in-out;
  }

  nav a:not(:first-child) {
    padding: 0;
  }
  #header_background {
    height: 80px;
  }
  header img {
    width: 250px;
    object-fit: contain;
  }
}

@media (max-width: 350px) {
  main {
    padding-top: 70px;
  }
  #header_background {
    height: 60px;
  }
  header img {
    width: 200px;
  }

  #mobile_menu_button {
    padding: 8px;
  }
}
