@import url(./font_raleway.css);
:root {

  max-width: 1440px;
  margin: 0 auto;

  --main-header-shadow: rgba(0, 0, 0, 0.2);
  --contact-header-shadow: ();

  --main-bg: white;
  --green: rgb(0, 128, 0);
  --grey-bg: rgb(239, 239, 239);
  --contact-grey-bg: rgb(220, 220, 220);
  --main-footer-bg: rgb(64, 59, 59);
  --contact-footer-bg: rgb(35, 35, 35);

  --main-text-color: black;
  --nav-text-color: rgb(64, 59, 59);
  --btn-text-color: white;
  --contact-text-color: rgb(35, 35, 35);

  --main-font: "Raleway", sans-serif;
}
/* um die variablen nutzen zu können auf euren "privaten" css files müsst ihr folgende codezeile ,am besten, auf 1 schreiben:
  @import url(../main_style.css); 
  .. greifen auf den Hauptordner zu und von dort aus könnt ihr dan nin den assets oder überall zugreifen.
  
  um auf die variablen zuzugreifen könnt ihr dann einfach diesem beispiel folgen:
   background: var(--grey-bg); -> somit könnt ihr auf alle erstellten variablen von diesem css zugreifen. 
  */

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
button {
  background-color: var(--green);
  cursor: pointer;
}

/*
Responsive*/

@media (max-width: 1440px) {
  main {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*@media (max-width: 750px) {
  .menuTabs ul {
  
  }
}
*/

@media (max-width: 620px) {
  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  * {
    font-size: 14px !important;
  }

  .author-img {
    width: 120px !important;
    height: 100px;
  }
}

@media (max-width: 580px) {
   label {
      text-align: center;
  }
}

@media (max-width: 430px) {
  .dish-info {
    flex-direction: column;
    align-items: flex-start;
 }
  .prep-info {
    flex-direction: column;
    align-items: flex-start;
 }
}

/*
Responsive*/
