@import url(./main_style.css);

/*
Header von Kadir
*/

.header {
    background-color: white;
}
.menuboard {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 112px;
    padding-bottom: 8px;
    padding: 0 20px 0 20px;
}
.logo img {
    width: auto;
    height: 80px;
}
.menuTabs {
    display: flex;
    gap: 32px;
    font-size: 18px;
}
.menuTabs a {
    text-decoration: none;
    color: black;
}
.menuTabs a:hover {
    color: rgb(0,128,1);
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}
.menuTabs ul {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    gap: 32px;
    font-size: 18px;
    margin: 0;
}
.seperator {
    background-color: rgb(239,239,239);
    height: 5px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

/*
Header von Kadir
*/

/* css for footer to be fixed at bottom
*/

#container {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 100px;
}
#footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

/* css for footer to be fixed at bottom
*/

html, body {
    scroll-behavior: smooth;
    height: 100%;
}
main {
    padding-bottom: 160px;
}
.header-section {
    padding-top: 100px;
}
h1 {
    font-size: 54px;
    padding-bottom: 30px;
} 
.aot-img {
    background-image: url('./img/cake.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width:100%;
}
.dish-info img {
    width: 20px;
}
.dish-info {
    padding-top: 40px;
    display: flex;
    gap: 30px;
    font-size: 22px;
}
figure {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--grey-bg);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}
.ingredients-section {
    padding-top: 80px;
}
.separator {
    height: 1px;
    background-color: var(--grey-bg);
    margin-bottom: 20px;
}
.input-field {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
label {
    font-size: 22px;
}
#portion-number {
    font-size: 22px;
    width: 250px;
    height: 44px;
    text-align: center;
    margin-left: 20px;
    border-color: var(--grey-bg);
    border-radius: 10px 0 0 10px;
}
.btn-green {
    background-color: var(--green);
    color: white;
    font-size: 22px;
    padding: 10px 35px 10px 35px;
    border-style: none;
    width: 200px;
    cursor: pointer;
    transition-duration: 75ms;   
}
table {
    border: none;
    border-collapse: collapse;
    font-size: 22px;
    width: 100%;
  }
tr {
    height: 60px;
}
td {
    padding-left: 50px;
}

td:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
td:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }

tr:nth-child(odd) {
    background-color: var(--grey-bg);
}
.preparation-section {
    padding-top: 60px;
}
h2 {
    font-size: 48px;
}
.prep-info img {
    width: 20px;
}
.prep-info {
    padding: 30px 0px 30px 0px;
    display: flex;
    gap: 30px;
    font-size: 20px;
}
ol {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-inline-start: 0;
}
li {
    padding-bottom: 10px;
}
h3 {
    font-size: 36px;
    padding-bottom: 35px;
}
.author {
    display: flex;
    align-items: center;
    gap: 60px;
}
.author-img {
    width: 200px;
    border-radius: 150px;
}
.author-name {
    font-size: 30px;
}

/*
    FOOTER
*/

.footerContainer{
    background-color: rgb(64,59,59);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100wh;
    height: 200px;
    padding: 0 20px 0 20px;
}
.footerLogo img{
    width: auto;
    height: 80px;
    padding-left: 0px;
}