body{
    margin: 0;
}

.header{
    background-color: white;
}

.menuboard {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 112px;
    padding-bottom: 8px;
}

.logo img{
    width: auto;
    height: 80px;
}

.menuTabs{
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.menuTabs a{
    text-decoration: none;
    color: black;
}

.menuTabs a:hover{
    color: rgb(0,128,1);
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.menuTabs ul{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    gap: 32px;
    font-size: 18px;
    margin: 0;
}

.seperator{
    background-color: rgb(239,239,239);
    width: 100%;
    height: 5px;
}

.recipeHead{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
}

.recipeHead h2{
    color: black;
    font-size: 24px;
}

.karniyarikImg {
    width: 100wh;
    height: 30vh;
}

.karniyarikImg img{
    width: 90vw;
    height: 240px;
}

.iconText{
    width: 90vw;
    height: 3vh;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    padding-left: 30px;
    padding-top: 5px;
}

.iconText p{
    display: flex;
    align-items: center;
    margin: 0;
    gap: 5px;
    background-color: rgb(240,240,240);
    border-radius: 5px;
}

.iconText img{
    width: 25px;
    height: 10px;
}

.userContainer {
    padding-left: 30px;
}

.zubereitung{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.zubereitung h2{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.zubereitung p{
    margin: 0;
}

.zubereitung span{
    margin: 0;
    padding-top: 20px;
}

.userProfil{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    padding-bottom: 70px;
}

.userProfil img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.footerContainer{
    background-color: rgb(64,59,59);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100wh;
    height: 200px;
}

.footerLogo img{
    width: auto;
    height: 80px;
}